/*desktop*/
@media screen and (min-width : 960px){
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "header header header"
            "nav nav nav"
            "intro study project";
    }
    
    header {
        grid-area: header;
    }
    
    nav {
        grid-area: nav;
    }
    
    #intro {
        grid-area: intro;
    }
    
    #study {
        grid-area: study;
    }
    
    #project {
        grid-area: project;
    }

    body {
        background-color: red;
    }
}

/*tablet*/
@media screen and (min-width : 641px) and (max-width : 959px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "header header"
        "menu menu"
        "intro intro"
        "study project"
    }
    
    header {
        grid-area: header;
    }
    
    nav {
        grid-area: nav;
    }
    
    #intro {
        grid-area: intro;
    }
    
    #study {
        grid-area: study;
    }
    
    #project {
        grid-area: project;
    }

    body {
        background-color: blue;
    }
}

/*phone*/
@media screen and (max-width : 640px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
        "header"
        "menu"
        "intro"
        "study"
        "project"
    }
    
    header {
        grid-area: header;
    }
    
    nav {
        grid-area: nav;
    }
    
    #intro {
        grid-area: intro;
    }
    
    #study {
        grid-area: study;
    }
    
    #project {
        grid-area: project;
    }

    body {
        background-color: yellow;
    }
}
